*

!.dockerignore
!docker/
!docker/**

!package.json
!package-lock.json
!tsconfig.json

!webpack.config.mjs
!postcss.config.mjs
!tailwind.config.mjs
!components.json
!shadcn/
!shadcn/**
!public/
!public/**
!src/
!src/**
