*

!.gitignore
!.github/
!.github/**

!LICENSE
!README.md

!setup.sh

!.docker/
!.docker/**

!package.json
!package-lock.json
!tsconfig.json
!eslint.config.mjs
!scripts/
!scripts/**

!webpack.config.mjs
!postcss.config.mjs
!tailwind.config.mjs
!components.json
!shadcn/
!shadcn/**
!public/
!public/**
!src/
!src/**
