#sidebar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #fafafa;
    border-right: 1px solid #e5e7eb;
    overflow-y: auto;
    min-width: 220px;
}