#home-page {
    /*max-width: 100vw;*/
    width: 100vw;
    /*min-width: 100vw;*/
    height: 100vh;
    min-height: 300px;
    display: grid;
    grid-template: 50px auto / minmax(220px, 25%) 1fr;
    overflow: hidden;
}

#navbar {
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
}

#sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    overflow: hidden;
}

#calendar {
    grid-column: 2;
    grid-row: 2;
    overflow: hidden;
    min-width: 0;
}
